{
    "plugins": [
        "source-map-support",
        "transform-runtime",
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": [
                    "Error",
                    "Array"
                ]
            }
        ]
    ],
    "presets": [
        [
            "env",
            {
                "node": "10.x"
            }
        ],
        "stage-3"
    ]
}